# Godot 4+ specific ignores
.godot/
/android/
.cache/
extension_api.json

.DS_Store

# IDE local settings
.vscode/settings.json
.clangd
compile_commands.json

# GDExtension Compile
game/gdextensions/**/bin/
src/**/*.os
src/**/*.obj
*.dblite
*.pdb
